<!--
/*++++++++++++++++++++++++++++++++++++++++++++++++++
     * File name: index.ejs
     * Student Name: Imtiaj Hossain
     * StudentID: 301119638
     * Web App name: COMP229-F2021-MidTerm-301119638
+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
-->
<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
